* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.nav {
    background-color: rgb(42, 94, 232);
    padding: 10px;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}



.menù__nav {
    justify-content: space-between;

    padding: 10px;
    align-items: center;


}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px dotted black; */
}

.size__nav {
    font-size: 16px;



}

/* .lista__nav {

    width: 700px;
    border-right: 3px dashed black;
    border-left: 3px dashed black;
} */

.item__nav {
    justify-content: center;
    font-weight: bolder;
}

.li__nav {
    padding: 0 10px;
}

.login__nav {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

/* CSS DEL MAIN */

/* HEAD-MAIN  */

.head-main {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    color: white;
    text-align: center;
}

/* metto delle altezzze minime per vedere il layout */
.box__head-main {
    max-width: 900px;
    min-height: 420px;
    padding-top: 90px;
    /* background-color: #EE82EE; */
    margin: 0 auto;
    /* border: 3px dotted black; */
}

.h1__main {
    font-size: 35px;

}

.p__main {
    line-height: 25px;

    padding: 25px 140px 15px;
}

.bottoni__head-main {
    justify-content: center;
    gap: 10px;
}

.scarica,
#apri,
.registrati {

    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
}

.scarica {
    color: black;
    background-color: white;

}

#apri {
    background-color: black;
}

/* BODY-MAIN  */

.padding__main {
    text-align: left;
    padding: 35px 75px;
}


.body-main {
    padding: 30px 0;
}

.box__body-main {
    min-height: 500px;

}

.blue-box__body-main {
    /* background-color: #1E90FF; */
    flex-basis: 60%;

}

.pink-box__body-main {
    /* background-color: #FFC0CB; */
    flex-basis: 40%;
}

/* bordi 
un div blu figlio di un container deve avere un bordo destro
un div blu figlio di un container con classe reverse non deve
 avere un bordo destro
un div rosa figlio di un container non deve avere un bordo
 destro
un div rosa figlio di un container con classe reverse deve
 avere un bordo destro */

/* .box__body-main>.blue-box__body-main {
    border-right: 3px dashed black;

}

.reverse>.blue-box__body-main {
    border-right: none;
    border-left: 3px dashed black;
} */

.reverse {
    flex-direction: row-reverse;

}

.gray {
    background-color: #D3D3D3;
}


.box__body-main-green {
    /* background-color: #228B22; */
    min-height: 870px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#p__body-gray {
    text-align: center;
    padding: 25px 226px 15px;
}

#h2__gray {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 25px;
}

.scarica.coloralt,
.registrati.coloralt {
    color: white;
    background-color: rgb(42, 94, 232);

}

/* FOOTER  */

.padding__footer {
    padding-bottom: 20px;
}

.h1__footer {
    padding: 30px 56px 30px 0;
    font-size: xx-large;

}

.blue {
    color: rgb(42, 94, 232);

}

.p__footer {
    padding: 15px 0;
}

#bandiera {
    max-width: 25px;
}

.social,
.social>i {
    padding-right: 5px;
}

.white {
    color: white;
}

.ul__footer {
    flex-direction: column;
    font-weight: bold;

}

.h3__footer {
    padding: 30px 0;
}


.dark-gray {
    background-color: #23272A;
}

.body-footer {
    padding: 10px;
    /* border-bottom: 1px solid white; */
}

.box__body-footer {
    min-height: 550px;
}

.darkpink-box__body-footer {
    /* background-color: #F08080; */
    flex-basis: calc(100% / 3);
    /* border-right: 3px dashed black; */

}

.lightgreen__body-footer {
    /* background-color: #20B2AA; */
    flex-basis: calc(100% / 6);
    /* border: 3px dashed white; */
}


.footer-footer {
    padding-top: 20px;

}

.registrati{
    font-size: small;
}

.box__footer-footer {
    min-height: 60px;
    /* background-color: rgb(127, 255, 212); */
    border-top: 1px solid rgb(42, 94, 232);
    /* colore trovato con paint */
    justify-content: space-between;
    align-items: center;
}

.logo__footer-footer,
.bottone__footer-footer {
    /* background-color: #FFC0CB; */
    font-size: 25px;
    /* border: 3px dashed black; */
    padding: 2px;
}